body {
    background-image: url("download3.jpg");
    
      /* Full height */
      height: fit-content;
    
      /* Center and scale the image nicely */
      
      background-size: cover;
      width: auto;
      top: 10em;
    }

    h1 {
      color: rgb(226, 231, 235);
      width:40em;
      margin: 0 auto;
      font-size: xx-large;
      text-align: center;
    }
    #Description {
      color: rgb(241, 245, 244);
      background-color: black;
      width:40em;
      margin: 0 auto;
      font-size: x-large;
      text-align: center;
    }

    p {
      background-color: #121312;
      border: none;
      color: rgb(253, 252, 249);
      width:40em;
      margin: 0 auto;
      font-size: x-large;
      text-align: center;
    }

    #Descriptions {
      width: 0.5em;
      position: absolute;
      font-weight: 900;
      right: 95em;

    }
  
    button {
      
      color: white;
      padding: 5px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      background-color: #647764;
      left: 26em;
      position: relative;
    }