body {
  background-color: grey;
  }

#title {
  position: absolute;
  top: 1.75em;
  left: 20em;
}

#description {
  position: absolute;
  top: 15em;
  left: 13.5em;
}

p {
  font-weight: bolder;
  font-size: xx-large;
  position: relative;
  
}

#BodyMap {
  left: 25em;
  position: absolute;
}

