<%- include('partials/head.ejs')%>

<head>
  <!-- <link rel="stylesheet" href="Abs.css"> --> 
  </head>
  <body>
  
    <h1>Abdominal Muscle</h1>
    <p id="Description">Any of the muscles of the anterolateral walls of the abdominal cavity, composed of three flat muscular sheets,
       from without inward: external oblique, internal oblique, and transverse abdominis,
        supplemented in front on each side of the midline by rectus abdominis</p>
    <div id="Descriptions">
    <p>1) Plank <br> Begin face down with your forearms and toes on the floor. 
      Your elbows are directly under your shoulders.
      Your head is relaxed and you should be looking at the floor.
      Engage your abdominal muscles, drawing your navel toward your spine. 
      Keep your torso straight and rigid and your body in a straight line from ears to toes with no sagging or bending. 
      Your heels should be over the balls of your feet.
      Hold this position for 30 seconds. Release to floor. </p>
    <button id="Workout" type="button" onclick="alert('Hello world!')">Add to Workout Plan</button>
      <p>2) Sit Up <br> Lie on the floor facing the ceiling with a slight bend in your knees and arms bent at the elbows and hands lightly touching your head by the ears.
        Engage your core and lift your upper body so your right elbow touches your left knee.
        Return to the start position then lift your upper body so your left elbow touches your right knee.
        Return to the start position.  </p>
    <button id="Workout" type="button" onclick="alert('Hello world!')">Add to Workout Plan</button>
    <p>3) Leg Raise <br> Lie on your back, legs straight and together. 
  
      Keep your legs straight and lift them all the way up to the ceiling until your butt comes off the floor. 
      
      Slowly lower your legs back down till they’re just above the floor. Hold for a moment.
      
      Raise your legs back up. Repeat.  </p>
    <button id="Workout" type="button" onclick="alert('Hello world!')">Add to Workout Plan</button>
    </div>
  </body>

<%- include('partials/end.ejs')%>