<%- include('partials/head.ejs')%>

<header><button onclick="goBack()">Return to Home</button></header>

<script>
  function goBack() {
    window.history.back();
  }
  </script>

<body>
  <link rel="stylesheet" href="Biceps.css"> 

  <!--Griglia alternata testo e immagine, resposive con flexbox.-->
  <section>
    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://fitnessvolt.com/wp-content/uploads/2019/04/dumbbell-curl-1024x647.jpg);">
      </div>
      <div class="col col-text">
        <div class="Aligner-item">
  
          <p>1) Bicep Curl <br> Stand holding a dumbbell in each hand with your arms hanging by your sides. 
            Ensure your elbows are close to your torso and your palms facing forward. Keeping your upper arms stationary, 
            exhale as you curl the weights up to shoulder level while contracting your biceps.</p>
          <button id="Workout" type="button" onclick="alert('Workout Added')">Add to Workout Plan</button>
          </p>
        </div>
      </div>
    </div>
    
    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://musclemaker.com.au/wp-content/uploads/2020/03/Hammer-Curls-How-to.jpg);">
        &nbsp;
      </div>
      <div class="col col-text col-left">
        <div class="Aligner-item">
          <p>2) Hammer Curls <br> Stand with your feet shoulder-width apart and a slight bend in your knees. 
            Hold a pair of dumbbells in your hands with your palms facing towards your body – this is the 
            main difference from the standard curl, Keeping your elbows close to your body,
            slowly curl the dumbbell up to your shoulders. 
            Pause for a second at the top of the lift, squeeze your biceps, then lower the weights under control.  </p>
        <button id="Workout" type="button" onclick="alert('Workout Added')">Add to Workout Plan</button>
          </p>
        </div>
      </div>
    </div>
  
    <div class="grid-flex">
      <div class="col col-image" style="background-image: url(https://qph.fs.quoracdn.net/main-qimg-5ec8f62e2a829a543fedfbf09438ffcf.webp);">
        &nbsp;
      </div>
      <div class="col col-text">
        <div class="Aligner-item">
          <p>3) Chin Up <br>  Grip a bar above head level shoulder-width apart and hang with your elbows locked out and your arms straight. 
            Pull yourself up until your head clears the bar using only your shoulders, back, and arms (no momentum from swinging your legs), 
            then lower yourself down in a controlled manner until your elbows are once again locked out and your arms are totally straight.  </p>
          <button id="Workout" type="button" onclick="alert('Workout Added')">Add to Workout Plan</button>
          </p>
        </div>
      </div>
    </div>
  
    
  </section>
</body>

<%- include('partials/end.ejs')%>