
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>

<script type="text/javascript">
  $(function() {
    $('.map').maphilight();
  });
</script>

<body>
  <img src="body.jpg" usemap="#image-map" class="map">

<map name="image-map">
    <area target="" alt="Pec" title="Pec" href="pecs.html" coords="130,150,195,151,211,117,169,104,130,116" shape="poly">
    <area target="" alt="Abs" title="Abs" href="abs.html" coords="143,155,187,158,188,230,143,232,141,178" shape="poly">
    <area target="" alt="Biceps" title="Biceps" href="" coords="97,142,119,139,114,186,89,177,95,154" shape="poly">
    <area target="" alt="Biceps" title="Biceps" href="" coords="216,155,233,145,250,177,225,186,222,167" shape="poly">
    <area target="" alt="Forearms " title="Forearms " href="" coords="77,186,99,195,82,237,60,234" shape="poly">
    <area target="" alt="Forearms" title="Forearms" href="" coords="226,192,252,188,271,230,257,236" shape="poly">
</map>
</body>
</html>