<%- include('partials/head.ejs')%>

<script type="text/javascript">
  $(function () {
    $('.map').maphilight();
  });
</script>

<body>
  <div class="container-fluid">
    <header>
      <%- include('partials/nav.ejs') %>
    </header>
    <br>
    <br>
    <div class="row">
      <div class="col-8">
        <img id="BodyMap" src="body.jpg" usemap="#image-map" class="map rounded shadow">
        <map name="image-map">
          <area target="" alt="Pec" title="Pec" href="pecs"
            coords="127,105,185,103,210,117,203,147,164,150,129,149,120,126" shape="poly">
          <area target="" alt="Abs" title="Abs" href="abs" coords="133,158,195,158,193,221,167,241,137,221" shape="poly">
          <area target="" alt="Biceps" title="Biceps" href="biceps" coords="214,137,237,142,246,177,223,184" shape="poly">
          <area target="" alt="Biceps" title="Biceps" href="biceps" coords="95,144,112,142,115,160,111,188,83,180,83,173"
            shape="poly">
          <area target="" alt="Shoulders" title="Shoulders" href="shoulders" coords="96,129,99,108,112,94,121,101,116,132"
            shape="poly">
          <area target="" alt="Shoulders" title="Shoulders" href="shoulders" coords="234,131,215,130,211,104,223,101,232,114"
            shape="poly">
          <area target="" alt="Back" title="Back" href="back"
            coords="409,99,447,99,494,100,498,153,491,205,454,224,416,215,405,163" shape="poly">
          <area target="" alt="Triceps" title="Triceps" href="triceps" coords="383,127,399,129,384,191,364,177" shape="poly">
          <area target="" alt="Triceps" title="Triceps" href="triceps" coords="503,119,524,132,537,177,528,188,519,189,503,154"
            shape="poly">
        </map>
      </div>
    </div>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
  </div>
</body>

<%- include('partials/end.ejs')%>