<%- include('partials/head.ejs')%>

<body>
  <div class="container-fluid">
    <header>
      <%- include('partials/nav.ejs') %>
    </header>
    <br>
    <br>
    <p>neat</p>>
  </div>
</body>

<%- include('partials/end.ejs')%>